@model FunWithSignalR.Models.listID
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>request</title>
</head>
<body>
    <div>
        <h1 id="openn" style="display:none">Already Open!</h1>
        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-confirm.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
        <script src="/signalr/hubs"></script>
        <input type="hidden" id="userId">
        <script>
            //var prevtime;
            $(document).ready(function () {
                window.name = '@Model.random.ToString()';
                $('#userId').val('@Model.consistentUserID.ToString()');

                var zigChatHubProxy = $.connection.zigChatHub;
                 zigChatHubProxy.client.updateUsersOnline = function (data) {
        if (!data.Success) {
            alert(data.ErrorMessage);
            return;
                     }
                     console.log("update re")

    };
                 zigChatHubProxy.client.stopClient = function () {
                     console.log("Conn stops");
                     $('#openn').show();
                     $.connection.hub.stop();

                 };
                $.connection.hub.start()
                    .done(function () {
                        console.log('@Model.isAlready.ToString()');
                        if ('@Model.isAlready.ToString()'==='True') {

                            $.confirm({
                                title: 'Confirm!',
                                content: 'Activate this connection?',
                                buttons: {
                                    confirm: function () {


                            var status = zigChatHubProxy.server.connectUser1($('#userId').val()).done(function (data, textStatus, jqXHR) {
                                if (!data.Success) {
                                    alert(data.ErrorMessage);
                                    return;
                                }

                                // zigChatHubProxy.server.send(window.name, $('#userId').val());
                                        });

                                    },
                                    cancel: function () {
                                        $('#openn').show();
                                    }
                                }
                            });
                        }
                        else {
                            var status = zigChatHubProxy.server.connectUser($('#userId').val()).done(function (data, textStatus, jqXHR) {
                                if (!data.Success) {
                                    alert(data.ErrorMessage);
                                    return;
                                }

                                // zigChatHubProxy.server.send(window.name, $('#userId').val());
                            });
                        }



                    })
                    .fail(function () {
                        console.log('Could not connect.');
                    });
            });

        </script>


        @*<script src="~/Scripts/app1.js"></script>*@
    </div>
</body>
</html>
